@using EpiserverSite.Models.ViewModels
@model CombinedSearchResultViewModel

<style>
    .search-result {
        display: inline-block;
        float: left;
        margin: 10px;
        width: calc(50% - 20px);
    }
</style>

@Html.Partial("Index", new BaseViewModel<EpiserverSite.Models.Pages.SearchPage>(Model.CurrentPage))

<div id="search-result-container">
    <div class="search-result">
        <h2>Episerver.Search</h2>
        @Html.Partial("_SearchResult", Model.SearchItems)
    </div>
    <div class="search-result">
        <h2>Episerver.Find</h2>
        @Html.Partial("_SearchResult", Model.FindItems)
    </div>
</div>