@model EpiserverSite.Models.ViewModels.NewsItemPageViewModel
@{
    Layout = "~/Views/Shared/_LeftNavigationLayout.cshtml";
}

<h1>@Model.CurrentPage.ItemTitle</h1>
@Html.DisplayFor(m => m.CurrentPage.MainBody)