@model EpiserverSite.Models.ViewModels.IPageWithNavigationViewModel<EpiserverSite.Models.Pages.PageWithNavigation>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        div.navigation {
            float: left;
            margin-left: 15px;
            display: inline-block;
        }

            div.navigation a {
                display: block;
                padding: 5px 0;
            }

        div.content {
            display: inline-block;
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <div class="navigation">
        @Html.PropertyFor(m => m.CurrentPage.Listing)
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>