@using EPiServer.Web.Mvc.Html

@model EpiserverSite.Models.ViewModels.ContentPageViewModel

<div>
    @Html.LabelFor(m => m.CurrentPage.PageTitle)<br />
    @Html.PropertyFor(m => m.CurrentPage.PageTitle)<br />

    @Html.PropertyFor(m => m.CurrentPage.MainContentArea)
</div>