@using EPiServer.Web.Mvc.Html

@model EpiserverSite.Models.ViewModels.ContentPageViewModel

<div style="text-align: right;">
    @Html.LabelFor(m => m.CurrentPage.PageTitle)<br />
    @Html.PropertyFor(m => m.CurrentPage.PageTitle)<br />

    @Html.PropertyFor(m => m.CurrentPage.MainContentArea)
</div>