@model EpiserverSite.AdminTools.MyPlugin.Models.MyPluginViewModel

@{
    Layout = "../../SharedViews/_Layout.cshtml";
}

<p>@Model.Text</p>

<span class="Sleek">
    <span class="epi-primary">
        <button class="dijitButtonNode">Epi button with styles</button>
    </span>
</span>