@model EpiserverSite.Models.ViewModels.Blocks.PageListingBlockViewModel

@if (Model.CurrentBlock.Root != null && Model.Pages != null)
{
    foreach (var item in Model.Pages)
    {
        <a href="@Url.PageUrl(@item.LinkURL)">@item.Name</a>
    }
}

