@using EPiServer.Core
@model EpiserverSite.Models.Blocks.PageListingBlock

@{
    var pageCollection = ViewData["PageCollection"] as PageDataCollection;
}

@if (Model.Root != null && pageCollection != null)
{
    foreach (var item in pageCollection)
    {
        <a href="@Url.PageUrl(@item.LinkURL)">@item.Name</a>
    }
}

