<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/EPiServer/Shell/11.21.3/ClientResources/epi/themes/sleek/sleek1.css" />
</head>

<body>
    @RenderBody()
</body>
</html>